@import url('https://fonts.googleapis.com/css2?family=Alata&family=Hind&family=Righteous&family=Roboto:wght@400;500;700&family=Ruda:wght@500&display=swap');
/* font-family: 'Alata', sans-serif;
font-family: 'Hind', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Ruda', sans-serif; */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.swiper-wrapper{
  align-items: center;
}
.swiper-slide{
  user-select: none;
}
.burger-ul-animation__open{
  animation: burgerSlideOpen .3s linear forwards;
}
.burger-ul-animation__close{
  animation: burgerSlideClose .3s linear forwards;
}
@keyframes burgerSlideOpen{
  0%{
    max-height: 0;
  }
  /* 99%{
    height: max-content;
  } */
  100%{
    /* height: calc(max-content - 0%); */
    max-height: 200px;
  }
}
@keyframes burgerSlideClose{
  from{
    max-height: 200px;
      /* height: calc(max-content - 0%); */
  }to{
    max-height: 0px;
  }
}
/* @media all and (max-width: 425px){
  .swiper{
    width: 100%;
    aspect-ratio: 2 / 1;
  }
  .swiper-slide img{
    height: 100%;
  }
} */
